{% style %}

.page-top-info-{{ section.id }} {
  height: {{ section.settings.general-height }}vh;
  text-align: center;
  display: table;
  width: 100%;
}
  
.page-top-info .ptf-center {
  display: table-cell;
  vertical-align: middle;
}
  
.sets-bg-p-{{ section.id }} {
  {% if section.settings.link3 != blank %}
  	cursor: pointer;
  {% endif %}
  {% if section.settings.enable-background-color %}
  background-color: {{ section.settings.background-color }}!important;
  {% elsif section.settings.enable-background-gradient %}
  background: {{ section.settings.background-gradient1 }}!important;
  background: -webkit-linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }})!important;
  background: linear-gradient({{ section.settings.gradient-side }}, {{ section.settings.background-gradient1 }}, {{ section.settings.background-gradient2 }})!important;
  background-position: {{ section.settings.background-image-position }};
  {% else %}  
  	{% if section.settings.backgroundimage %}
  	background-image: url('{{ section.settings.backgroundimage.src | img_url: '2048x2048' }}');
    {% else %}
    background-image: url('https://d31ezp3r8jwmks.cloudfront.net/variants/x12dDf6DVVgQdJDJsniMpDdz/d2e337a4f6900f8d0798c596eb0607a8e0c2fbddb6a7ab7afcd60009c119d4c7');
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: {{ section.settings.background-image-position }};
  {% endif %}
  background-attachment: {{ section.settings.background-attachment }};
}

{% if section.settings.reverse1 %}
.bouton1-{{ section.id }} {
  background-color: {{ settings.color_primary-hover }};
  color: {{ settings.color_button_text-hover }};
  border: {{ settings.btn-border-hover }}px solid {{ settings.btn-border-hover-color }};
  box-shadow: {{ settings.btn-shadow-hb }}px {{ settings.btn-shadow-dg }}px {{ settings.btn-shadow-p }}px {{ settings.btn-shadow-color-hover }};
}
  
.bouton1-{{ section.id }}:hover {
  background-color: {{ settings.color_primary }};
  color: {{ settings.color_button_text }};
  border: {{ settings.btn-border }}px solid {{ settings.btn-border-color }};
  box-shadow: {{ settings.btn-shadow-hb-hover }}px {{ settings.btn-shadow-dg-hover }}px {{ settings.btn-shadow-p-hover }}px {{ settings.btn-shadow-color-hover }};
}
{% endif %}
  
{% if section.settings.reverse2 %}
.bouton2-{{ section.id }} {
  background-color: {{ settings.color_primary-hover }};
  color: {{ settings.color_button_text-hover }};
  border: {{ settings.btn-border-hover }}px solid {{ settings.btn-border-hover-color }};
  box-shadow: {{ settings.btn-shadow-hb }}px {{ settings.btn-shadow-dg }}px {{ settings.btn-shadow-p }}px {{ settings.btn-shadow-color-hover }};
}
  
.bouton2-{{ section.id }}:hover {
  background-color: {{ settings.color_primary }};
  color: {{ settings.color_button_text }};
  border: {{ settings.btn-border }}px solid {{ settings.btn-border-color }};
  box-shadow: {{ settings.btn-shadow-hb-hover }}px {{ settings.btn-shadow-dg-hover }}px {{ settings.btn-shadow-p-hover }}px {{ settings.btn-shadow-color-hover }};
}
{% endif %}
  
{% if section.settings.second-button %}
.img-button-{{ section.id }} {
  	margin: 0 3px;
}
{% endif %}
  
{% if section.settings.enable-background-box %} 
  @media screen and (max-width: 549px) {
    .container.parallax-{{ section.id }} {
      width: {{ section.settings.box-width-mobile }}em!important;
      height: {{ section.settings.box-height-mobile }}em!important;
    }
  }
{% endif %}
  
@media screen and (max-width: 549px) {
  .background-parallax-title {
    font-size: {{ section.settings.title-size-mobile }}px!important;
  }
  .page-top-info-{{ section.id }} {
	height: {{ section.settings.general-height-mobile }}vh;
  }
  .sets-bg-p-{{ section.id }} {
    background-attachment: unset!important;
    {% unless section.settings.enable-background-color and section.settings.enable-background-gradient %}
      {% if section.settings.backgroundimagemob %}
      background-image: url('{{ section.settings.backgroundimagemob.src | img_url: '2048x2048' }}');
      {% endif %}
    {% endunless %}
  }
}
  
.opac-bgt-{{ section.id }} {
  display: flex;
  {% if section.settings.text_alignment == "left" %}
  align-items: center;
  justify-content: end;
  {% elsif section.settings.text_alignment == "center" %}
  align-items: center;
  justify-content: center;
  {% elsif section.settings.text_alignment == "right" %}
  align-items: center;
  justify-content: flex-end;
  {% elsif section.settings.text_alignment == "bleft" %}
  align-items: flex-end;
  justify-content: end;	
  {% elsif section.settings.text_alignment == "bcenter" %}
  align-items: flex-end;
  justify-content: center;
  {% elsif section.settings.text_alignment == "bright" %}
  align-items: flex-end;
  justify-content: flex-end;
  {% endif %}
  height: 100%;
  background: rgba({{ section.settings.background-opacity-rgb }}, 0.{{ section.settings.background-opacity }});
}
  
.container.parallax-{{ section.id }} {
  display: flex;
  flex-direction: column;
  {% if section.settings.text_alignment == "left" %}
  align-items: end;
  {% elsif section.settings.text_alignment == "center" %}
  align-items: center;
  {% elsif section.settings.text_alignment == "right" %}
  align-items: flex-end;
  {% elsif section.settings.text_alignment == "bleft" %}
  align-items: end;	
  {% elsif section.settings.text_alignment == "bcenter" %}
  align-items: center;
  {% elsif section.settings.text_alignment == "bright" %}
  align-items: flex-end;
  {% endif %}
}

{% endstyle %}

<section class="page-top-info-{{ section.id }} sets-bg-p-{{ section.id }}" {% if section.settings.link3 != blank %}onclick="linktoanotherpage()"{% endif %} data-section-type="background-parallax">
  <div class="opac opac-bgt-{{ section.id }}">
    <div class="ptf-center">
      <div class="container parallax-{{ section.id }}" style="
      {% if section.settings.enable-background-box %}
        background-color: rgba(0, 0, 0, 0.{{ section.settings.box-opacity }});
        width: {{ section.settings.box-width }}em;
        padding: {{ section.settings.box-padding }}em;
        height: {{ section.settings.box-height }}em;
      {% endif %}
	  ">
        {% if section.settings.enable-title %}
        <h{{ section.settings.title-tag }} class="background-parallax-title" style="
		  font-size: {{ section.settings.title-size }}px;
  		  color: {{ section.settings.title-color }};
		  text-transform: none;
          margin:0;
		" data-aos="{{ section.settings.aos-content }}">{{ section.settings.title }}<span style="
		  color: {{ section.settings.whatever-color }};
		" data-aos="{{ section.settings.aos-content }}">{{ section.settings.whatever }}</span></h{{ section.settings.title-tag }}>
        {% endif %}
        {% if section.settings.enable-subtitle %}
        <h{{ section.settings.subtitle-tag }} class="background-parallax-subtitle" style="
		  font-size: {{ section.settings.subtitle-size }}px;
  		  color: {{ section.settings.subtitle-color }};
		" data-aos="{{ section.settings.aos-content }}">{{ section.settings.subtitle }}</h{{ section.settings.subtitle-tag }}>
        {% endif %}
        {% if section.settings.first-button %}
        <div class="button-container-parallax" style="
          min-height: 4em;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: row;
        ">
          <a class="btn bouton1-{{ section.id }} img-button-{{ section.id }}" href="{{ section.settings.link }}" id="direction-btn" data-aos="{{ section.settings.aos-content }}">{{ section.settings.title1 }}</a>
          {% if section.settings.second-button %}
          <a class="btn bouton2-{{ section.id }} img-button-{{ section.id }}" href="{{ section.settings.link2 }}" data-aos="{{ section.settings.aos-content }}">{{ section.settings.title2 }}</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script>
  $('#direction-btn[href*="#"]:not([href="#"])').click(function() {
    var offset = -100; // <-- change the value here
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top + offset
        }, 0);
        return false;
      }
    }
  });
</script>

{% if section.settings.link3 != blank %}
<script>
function linktoanotherpage() {
  location.replace("{{ section.settings.link3 }}");
}
</script>
{% endif %}

{% schema %}
{
    "name": "Background parallax",
    "settings": [
	{
        "type": "header",
        "content": "⬛️ SECTION GÉNÉRAL"
    },
	{
		"id": "link3",
		"type": "url",
		"label": "Lien de l'image"
	},
	{
        "type": "range",
        "id": "general-height",
        "min": 35,
        "max": 100,
        "step": 1,
        "unit": "vh",
        "label": "Hauteur du Background (100 = Intégralité de l'écran)",
        "default": 100
    },
	{
        "type": "range",
        "id": "general-height-mobile",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "vh",
        "label": "Hauteur du Background sur mobile (100 = Intégralité de l'écran)",
        "default": 90
    },
    {
       "type": "select",
       "id": "aos-content",
       "options": [
		  { "value": "none", "label": "Aucune"},
          { "value": "fade-up", "label": "Fade Up"},
          { "value": "fade-down", "label": "Fade Down"},
          { "value": "fade-right", "label": "Fade Right"},
		  { "value": "fade-left", "label": "Fade Left"},
          { "value": "fade-up-right", "label": "Fade Up Right"},
          { "value": "fade-up-left", "label": "Fade Up Left"},
		  { "value": "fade-down-right", "label": "Fade Down Right"},
          { "value": "fade-down-left", "label": "Fade Down Left"},
		  { "value": "flip-left", "label": "Flip Left"},
          { "value": "flip-right", "label": "Flip Right"},
          { "value": "flip-up", "label": "Flip Up"},
		  { "value": "flip-down", "label": "Flip Down"},
          { "value": "zoom-in", "label": "Zoom in"},
          { "value": "zoom-in-up", "label": "Zoom in Up"},
		  { "value": "zoom-in-down", "label": "Zoom in Down"},
          { "value": "zoom-in-left", "label": "Zoom in Left"},
		  { "value": "zoom-in-right", "label": "Zoom in Right"},
		  { "value": "zoom-out", "label": "Zoom out"},
          { "value": "zoom-out-up", "label": "Zoom out Up"},
		  { "value": "zoom-out-down", "label": "Zoom out Down"},
          { "value": "zoom-out-right", "label": "Zoom out Right"},
		  { "value": "zoom-out-left", "label": "Zoom out Left"}
       ],
       "label": "Animation au Scroll du contenu",
	   "default": "none"
    },
	{
        "type": "header",
        "content": "⬛️ FONDS"
    },
	{
		"type": "paragraph",
		"content": "ℹ️ Si vous activez la couleur de fond, toutes les propriétés liées à l'image deviendront nulles'"
	},
	{
		"type": "paragraph",
		"content": "🔹 EFFET PARALLAX"
	},
    {
       "type": "select",
       "id": "background-attachment",
       "options": [
          { "value": "fixed", "label": "Parallax"},
          { "value": "unset", "label": "Pas parallax"}
       ],
       "label": "Parallax ou non ?",
	   "default": "fixed"
    },
	{
		"type": "paragraph",
		"content": "🔹 COULEUR UNIE"
	},
	{
		"type": "checkbox",
        "id": "enable-background-color",
        "label": "Activer la couleur de fond"
	},
	{
       "id": "background-color",
       "type": "color",
       "label": "Couleur de fond",
	   "default": "#000000"
	},
	{
		"type": "paragraph",
		"content": "🔹 DÉGRADÉ"
	},
	{
		"type": "checkbox",
        "id": "enable-background-gradient",
        "label": "Activer le dégradé de fond"
	},
	{
       "id": "background-gradient1",
       "type": "color",
       "label": "Couleur dégradé 1",
	   "default": "#108dc7"
	},
	{
       "id": "background-gradient2",
       "type": "color",
       "label": "Couleur dégradé 2",
	   "default": "#ef8e38"
	},
    {
       "type": "select",
       "id": "gradient-side",
       "options": [
          { "value": "to left", "label": "Droite > Gauche"},
          { "value": "to right", "label": "Gauche > Droite"},
		  { "value": "to bottom", "label": "Haut > Bas"},
          { "value": "to top", "label": "Bas > Haut"}
       ],
       "label": "Orientation du dégradé",
	   "default": "to right"
    },
	{
		"type": "paragraph",
		"content": "🔹 IMAGE"
	},
	{
		"id": "backgroundimage",
		"type": "image_picker",
		"label": "Image de fond"
	},
	{
		"id": "backgroundimagemob",
		"type": "image_picker",
		"label": "Image de fond sur mobile"
	},
    {
       "type": "select",
       "id": "background-image-position",
       "options": [
          { "value": "left top", "label": "Haut Gauche"},
          { "value": "left center", "label": "Centre Gauche"},
		  { "value": "left bottom", "label": "Bas Gauche"},
          { "value": "right top", "label": "Haut Droite"},
		  { "value": "right center", "label": "Centre Droite"},
          { "value": "right bottom", "label": "Bas droite"},
		  { "value": "center top", "label": "Haut Centre"},
          { "value": "center center", "label": "Centre"},
		  { "value": "center bottom", "label": "Bas Centre"}
       ],
       "label": "Position de l'image",
	   "default": "center top"
    },
	{
        "type": "header",
        "content": "⬛️ FILTRES"
    },
	{
		"type": "paragraph",
		"content": "🔹 FILTRE D'IMAGE"
	},
	{
		"id": "background-opacity",
		"type": "range",
        "min": 0,
        "max": 90,
        "step": 10,
        "unit": "%",
        "label": "Intensité du filtre d'opacité",
        "default": 10
	},
	{
		"id": "background-opacity-rgb",
		"type": "text",
        "label": "Couleur du filtre en RGB",
		"info": "Format : 255,255,255 -> [Convertir HEX vers RGB](https://www.webfx.com/web-design/hex-to-rgb/)",
        "default": "0,0,0"
	},
	{
		"type": "paragraph",
		"content": "🔹 FILTRE DE TEXTE (BOX DE FOND)"
	},
	{
		"type": "checkbox",
        "id": "enable-background-box",
        "label": "Activer la box de fond"
	},
	{
		"id": "box-opacity",
		"type": "range",
        "min": 10,
        "max": 99,
        "step": 1,
        "unit": "%",
        "label": "Intensité du filtre d'opacité",
        "default": 20
	},
	{
		"id": "box-width",
		"type": "range",
        "min": 1,
        "max": 99,
        "step": 1,
        "unit": "%",
        "label": "Taille de la box",
        "default": 45
	},
	{
		"id": "box-width-mobile",
		"type": "range",
        "min": 1,
        "max": 50,
        "step": 1,
        "unit": "%",
        "label": "Taille de la box sur mobile",
        "default": 21
	},
	{
		"id": "box-height",
		"type": "range",
        "min": 1,
        "max": 40,
        "step": 1,
        "unit": "%",
        "label": "Hauteur de la box",
        "default": 20
	},
	{
		"id": "box-height-mobile",
		"type": "range",
        "min": 1,
        "max": 30,
        "step": 1,
        "unit": "%",
        "label": "Hauteur de la box sur mobile",
        "default": 24
	},
	{
		"id": "box-padding",
		"type": "range",
        "min": 1,
        "max": 9,
        "step": 1,
        "unit": "%",
        "label": "Marge intérieure de la box",
        "default": 1
	},
	{
        "type": "header",
        "content": "⬛️ CONTENU"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Alignement du texte",
      "options": [
        {"value": "left", "label": "gauche"},
        {"value": "center","label": "center"},
        {"value": "right","label": "droite"},
        {"value": "bleft","label": "Bas gauche"},
        {"value": "bcenter","label": "Bas centre"},
        {"value": "bright","label": "Bas droite"}
      ],
      "default": "center"
    },
	{
		"type": "paragraph",
		"content": "🔹 TITRE"
	},
	{
		"type": "checkbox",
        "id": "enable-title",
        "label": "Activer le titre"
	},
    {
       "type": "select",
       "id": "title-tag",
       "options": [
          { "value": "2", "label": "H2"},
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise titre",
	   "default": "2"
    },
	{
		"id": "title",
		"type": "text",
		"label": "Titre",
		"default": "VOTRE TITRE"
	},
	{
		"id": "whatever",
		"type": "text",
		"label": "Texte supplémentaire",
		"default": "."
	},
	{
       "id": "title-color",
       "type": "color",
       "label": "Couleur du titre",
	   "default": "#ffffff"
	},
	{
       "id": "whatever-color",
       "type": "color",
       "label": "Couleur du texte supplémentaire",
	   "default": "#f0e317"
	},
	{
		"id": "title-size",
		"type": "range",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Taille du titre",
        "default": 50
	},
	{
		"id": "title-size-mobile",
		"type": "range",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Taille du titre sur mobile",
        "default": 25
	},
	{
		"type": "paragraph",
		"content": "🔹 SOUS-TITRE"
	},
	{
		"type": "checkbox",
        "id": "enable-subtitle",
        "label": "Activer le sous titre"
	},
    {
       "type": "select",
       "id": "subtitle-tag",
       "options": [
          { "value": "3", "label": "H3"},
		  { "value": "4", "label": "H4"},
          { "value": "5", "label": "H5"},
		  { "value": "6", "label": "H6"}
       ],
       "label": "Balise sous-titre",
	   "default": "4"
    },
	{
		"id": "subtitle",
		"type": "text",
		"label": "Titre",
		"default": "Votre sous-titre"
	},
	{
       "id": "subtitle-color",
       "type": "color",
       "label": "Couleur du sous-titre",
	   "default": "#ffffff"
	},
	{
		"id": "subtitle-size",
		"type": "range",
        "min": 10,
        "max": 80,
        "step": 1,
        "unit": "px",
        "label": "Taille du sous-titre",
        "default": 25
	},
	{
		"type": "paragraph",
		"content": "🔹 BOUTON 1"
	},
	{
		"type": "checkbox",
        "id": "first-button",
        "label": "Activer le premier bouton"
	},
	{
		"type": "checkbox",
        "id": "reverse1",
        "label": "Inverser les couleurs du bouton"
	},
	{
		"id": "title1",
		"type": "text",
		"label": "Texte du bouton",
		"default": "Je Découvre ➔"
	},
	{
		"id": "link",
		"type": "url",
		"label": "Lien du bouton"
	},
	{
		"type": "paragraph",
		"content": "🔹 BOUTON 2"
	},
	{
		"type": "checkbox",
        "id": "second-button",
        "label": "Activer le second bouton"
	},
	{
		"type": "checkbox",
        "id": "reverse2",
        "label": "Inverser les couleurs du bouton"
	},
	{
		"id": "title2",
		"type": "text",
		"label": "Texte du bouton",
		"default": "Je Découvre ➔"
	},
	{
		"id": "link2",
		"type": "url",
		"label": "Lien du bouton"
	}],
	"presets": [{
		"name": "Background Parallax + Texte",
		"category": "Image"
  	}
  ]
}

{% endschema %}
